*mangle

:PREROUTING {{ mangle.prerouting_policy|string }} [0:0]
:INPUT {{ mangle.input_policy|string }} [0:0]
:FORWARD {{ mangle.forward_policy|string }} [0:0]
:OUTPUT {{ mangle.output_policy|string }} [0:0]
:POSTROUTING {{ mangle.postrouting_policy|string }} [0:0]

{% if custom_mangle_raw_rules %}
{% for rule in custom_mangle_raw_rules %}
{{ rule }}
{% endfor %}
{% endif %}

COMMIT

*nat

{% if docker_bool == 'True' %}
:PREROUTING ACCEPT [224:15070]
:INPUT ACCEPT [224:15070]
:OUTPUT ACCEPT [2515:152064]
:POSTROUTING ACCEPT [2515:152064]
:DOCKER - [0:0]
-A PREROUTING -m addrtype --dst-type LOCAL -j DOCKER
-A OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j DOCKER
-A POSTROUTING -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE
-A DOCKER -i docker0 -j RETURN
{% endif %}

{% if jenkins_redirect_bool == 'True' %}
-A PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 8080
-I OUTPUT -p tcp -d 127.0.0.1 --dport 80 -j REDIRECT --to-ports 8080
{% endif %}

COMMIT

*filter

:INPUT {{ filter.input_policy|string }} [0:0]
:FORWARD {{ filter.forward_policy|string }} [0:0]
:OUTPUT {{ filter.output_policy|string }} [0:0]
{% if docker_bool == 'True'%}
:DOCKER - [0:0]
:DOCKER-ISOLATION - [0:0]
:DOCKER-USER - [0:0]
-A FORWARD -j DOCKER-USER
-A FORWARD -j DOCKER-ISOLATION
-A FORWARD -o docker0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -o docker0 -j DOCKER
-A FORWARD -i docker0 ! -o docker0 -j ACCEPT
-A FORWARD -i docker0 -o docker0 -j ACCEPT
-A DOCKER-ISOLATION -j RETURN
-A DOCKER-USER -j RETURN
{% endif %}


# allow all loopback traffic
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

# allows established and related incoming and outgoing connections
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -m conntrack --ctstate ESTABLISHED -j ACCEPT


# allows tcp ports
{% if   allowed_tcp_ports  %}
{% for tcp_port in allowed_tcp_ports %}
-A INPUT -p tcp --dport {{tcp_port}} -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
{% endfor %}
{% endif %}

# block ip from restricted_network list
{% if restricted_network  %}
{% for addr in restricted_network %}
-A INPUT -s {{ addr }} -j REJECT
{% endfor %}
{% endif %}

{% if custom_filter_raw_rules %}
{% for rule in custom_filter_raw_rules %}
{{ rule }}
{% endfor %}
{% endif %}

# log iptables denied calls
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied:" --log-level 7
# reject all other inbound calls
-A INPUT -j REJECT
-A FORWARD -j REJECT

COMMIT

