*mangle

:PREROUTING {{ mangle.prerouting_policy|string }} [0:0]
:INPUT {{ mangle.input_policy|string }} [0:0]
:FORWARD {{ mangle.forward_policy|string }} [0:0]
:OUTPUT {{ mangle.output_policy|string }} [0:0]
:POSTROUTING {{ mangle.postrouting_policy|string }} [0:0]

-A PREROUTING -p tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG NONE -j DROP
-A PREROUTING -p tcp --tcp-flags FIN,SYN FIN,SYN -j DROP
-A PREROUTING -p tcp --tcp-flags SYN,RST SYN,RST -j DROP
-A PREROUTING -p tcp --tcp-flags FIN,RST FIN,RST -j DROP
-A PREROUTING -p tcp --tcp-flags FIN,ACK FIN -j DROP
-A PREROUTING -p tcp --tcp-flags ACK,URG URG -j DROP
-A PREROUTING -p tcp --tcp-flags ACK,FIN FIN -j DROP
-A PREROUTING -p tcp --tcp-flags ACK,PSH PSH -j DROP
-A PREROUTING -p tcp --tcp-flags ALL ALL -j DROP
-A PREROUTING -p tcp --tcp-flags ALL NONE -j DROP
-A PREROUTING -p tcp --tcp-flags ALL FIN,PSH,URG -j DROP
-A PREROUTING -p tcp --tcp-flags ALL SYN,FIN,PSH,URG -j DROP
-A PREROUTING -p tcp --tcp-flags ALL SYN,RST,ACK,FIN,URG -j DROP

COMMIT

*nat

{% if docker_bool == 'True' %}
:PREROUTING ACCEPT [224:15070]
:INPUT ACCEPT [224:15070]
:OUTPUT ACCEPT [2515:152064]
:POSTROUTING ACCEPT [2515:152064]
:DOCKER - [0:0]
-A PREROUTING -m addrtype --dst-type LOCAL -j DOCKER
-A OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j DOCKER
-A POSTROUTING -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE
-A DOCKER -i docker0 -j RETURN
{% endif %}

COMMIT

*filter

:INPUT {{ filter.input_policy|string }} [0:0]
:FORWARD {{ filter.forward_policy|string }} [0:0]
:OUTPUT {{ filter.output_policy|string }} [0:0]

{% if docker_bool == 'True'%}
:DOCKER - [0:0]
:DOCKER-ISOLATION - [0:0]
:DOCKER-USER - [0:0]
-A FORWARD -j DOCKER-USER
-A FORWARD -j DOCKER-ISOLATION
-A FORWARD -o docker0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -o docker0 -j DOCKER
-A FORWARD -i docker0 ! -o docker0 -j ACCEPT
-A FORWARD -i docker0 -o docker0 -j ACCEPT
-A DOCKER-ISOLATION -j RETURN
-A DOCKER-USER -j RETURN
{% endif %}


# allow all loopback traffic
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

# allows established and related incoming and outgoing connections
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -m conntrack --ctstate ESTABLISHED -j ACCEPT

# allows tcp ports
{% if  allowed %}
{% for rule in allowed %}
-A INPUT -p {{rule.protocol}} -s {{ rule.source }} --dport {{ rule.port }} -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT -m comment --comment {{ rule.name }}
{% endfor %}
{% endif %}

# log iptables denied calls
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied:" --log-level 7
# reject all other inbound calls
-A INPUT -j REJECT
-A FORWARD -j REJECT

COMMIT

